{% extends 'genomeBact/base.html' %}

{% block content %}
<script src = "https://d3js.org/d3.v4.min.js"></script>

        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="/home">Le projet OUAF</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto py-4 py-lg-0">
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/home">Home</a></li>
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/admin">Admin</a></li>
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/settings">Parameters</a></li>
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/results">Collection</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page Header-->
        <header class="masthead" style="background: url('/static/genomeBact/p1.png')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-3 col-lg-8 col-xl-10">
                        <div class="post-heading">
                            <h1 style =>{{ genome.specie }}</h1>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Page content-->
        <div class="container mt-5">
            <a href="{% url 'results' %}">Résultats précédents</a>
            <div class="row">
                <div class="col-lg-8">
                    <!-- Post content-->
                    <article>
                        <!-- Séquence-->
                        <section class="mb-5">
                            <h2 class="fw-bolder mb-4 mt-5">Visualisation</h2>
                            <!-- <p class="fs-5 mb-4"><span style = "word-break : break-all;">{{ genome.sequence }}</span></p> -->
                        </section>
                    </article>
                    <!--Liste des tCDS-->
                    <section class="mb-5">
                        <div class="card bg-light">
                            
                            <div class="card-body">
                                <h2 class="fw-bolder mb-4 mt-2"><a href="{% url 'transcript-list' genome.specie %}">Liste des annotations </a></h2>
                                <!-- Single comment-->
                                <div class="d-flex">
                                    <div class="ms-3">
                                        <div class="fw-bold">{% for transcript in transcript %}
                                            <li>    <a href="{% url 'transcript-detail' specie=genome.specie transcript=transcript.transcript %}">{{ transcript.transcript }}</a>
                                              </li>			
                                          {% endfor %}</div>
                                        Nom du CDS
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <!-- Side widgets-->
                <div class="col-lg-4">
                    <!-- Widget BLAST-->
                    <div class="card mb-4">
                        <div class="card-header">Autres ressources :</div>
                        <div class="card-body">
                            <div class="input-group">
                                <button class="btn btn-danger" id="button-blatp" type="button">BLASTp</button>
                                <button class="btn btn-danger" id="button-blastn" type="button">BLASTn</button>
                                <button class="btn btn-danger" id="button-uniprot" type="button">Uniprot</button>
                            </div>
                        </div>
                    </div>
                    <!-- Categories widget-->
                    <div class="card mb-4">
                        <div class="card-header">Infos</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <ul class="list-unstyled mb-0">
                                        <h5>Chromosome</h6>
                                        <h5>Length</h6>
                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <ul class="list-unstyled mb-0">
                                        <h6>{{ genome.chromosome }}</h6>
                                        <h6>{{ genome.length }}</h6>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Side widget-->
                    <div class="card mb-4">
                        <div class="card-header">Commentaire de l'admin</div>
                        <div class="card-body">wow</div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            let list_cds = {};
            let length = "{{ genome.length }}";
            let genome_name = "{{ genome.specie }}";
        </script>
        {% for transcript in transcripts %}
            <script>
                list_cds["{{ transcript.transcript }}"] = {"id" : "{{ transcript.transcript }}" ,
                 "start" : "{{ transcript.start }}", "stop":"{{ transcript.stop }}"};
            </script>
        {% endfor %}
        <div class="card" style="margin-left: 5%; margin-right: 5%;">
            <div class="card-body">
                <div align="center">
                  <img id="big_left" src="/static/genomeBact/img/big_straf_left_seb.png" width="26px"/>
                  <img id="small_left" src="/static/genomeBact/img/small_straf_left_seb.png" width="26px"/>
                  <img id="small_right" src="/static/genomeBact/img/small_straf_right_seb.png" width="26px"/>
                  <img id="big_right" src="/static/genomeBact/img/big_straf_right_seb.png" width="26px"/>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <img id="zoom_in" src="/static/genomeBact/img/zoom_in_seb.png" width="26px"/>
                  <img id="zoom_small_in" src="/static/genomeBact/img/zoom_small_in_seb.png" width="26px"/>
                  <img id="zoom_neutral" src="/static/genomeBact/img/zoom_default_seb.png" width="26px"/>
                  <img id="zoom_small_out" src="/static/genomeBact/img/zoom_small_out_seb.png" width="26px"/>
                  <img id="zoom_out" src="/static/genomeBact/img/zoom_out_seb.png" width="26px"/>
                </div>
          
                <!-- Genomic View -->
                <div id = "svg_genomic_view" align="center"></div>
            </div>
        </div>
<script type="text/javascript" src="/static/genomeBact/transcript.js"></script> 

<div class="container px-4 px-lg-5">
    <h2>Infos </h2>
        <table class="table-info">
            <tr>
                <td>Chromosome</td>
                <td>{{ genome.chromosome }}</td>
            </tr>
            <tr>
                <td>Length</td>
                <td>{{ genome.length }}</td>
            </tr>
        </table>
    <h2> Séquence </h2>
        <button id="toggle-button" onclick="toggleGenomeSequence()">Show/Hide</button>
        <div id="genome_sequence" style="display: none;">
        <p>{{ genome.sequence }}</pre>
        </div>
</div>
<div class="container px-4 px-lg-5">
    <h2> CDS </h2>
        <table>
            <tr>
              <th>CDS</th>
              <th>Start</th>
            </tr>
            
            {% for transcript in transcripts %}
              <tr class="cds" onclick="window.location='{% url 'transcript-detail' specie=genome.specie transcript=transcript.transcript %}'">
                <td>{{ transcript.transcript }}</td>
                <td>{{ transcript.start }}</td>
              </tr>
            {% endfor %}
            
        </table>
</div>
    <li><a href="{% url 'transcript-list' genome.specie %}">Transcripts</a></li>


    <a href="{% url 'results' %}">Return to Results (= genome list)</a>

{% endblock %}
