{% load static %}

<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Projet OUAF</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Muli'><link rel="stylesheet" href="{% static 'genomeBact/styleslogin.css' %}">
  <link href="{% static 'genomeBact/user_detail.css' %}" rel="stylesheet" />

<section class="h-100 h-custom" style="background-color: #8DAA9D;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-8 col-xl-6">
          <div class="card rounded-3">
            <div class="card-body p-4 p-md-5">
              <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Registration Infos</h3>
  
              <form class="px-md-2" method="post">
  
                {% csrf_token %}

                {% for message in messages %}
                  <p id="messages"> {{ message }}</p>
                {% endfor %}

                <div class="form-outline mb-4">
                  <label class="form-label" for="username"> Username </label>
                  {{ form_user.username.errors }}
                  {{ form_user.username }}
                </div>
  
                <div class="form-outline mb-4">
                    <label class="form-label" for="Email"> Email </label>
                    {{ form_user.email.errors }}
                    {{ form_user.email }}                  
                  </div>
  
                <div class="mb-4">
                  <div>
                    <label class="form-label" for="group"> Select your role : </label>
                  </div>
                  {{ form_profile.group.errors }}
                  {{ form_profile.group }}
                </div>
  
                <div class="row mb-4 pb-2 pb-md-0 mb-md-5">
                  <div class="col-md-6">
                    <div class="form-outline">
                      <label class="form-label" for="password1"> Password </label>
                      {{ form_user.password1.errors }}
                      {{ form_user.password1 }}
                    </div>
                    <div class="form-outline">
                      <label class="form-label" for="password2"> Password 2 </label>
                      {{ form_user.password2.errors }}
                      {{ form_user.password2 }}                    
                    </div>
                  </div>
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label" for="first_name"> First Name </label>
                  {{ form_profile.first_name.errors }}
                  {{ form_profile.first_name }}                  
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label" for="last_name"> Last Name </label>
                  {{ form_profile.last_name.errors }}
                  {{ form_profile.last_name }}                
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example1q"> Phone number </label>
                  {{ form_profile.phone_number.errors }}
                  {{ form_profile.phone_number }}                
                </div>
              
                <button type="submit" class="btn btn-success btn-lg mb-1" name="Create User">Submit</button>
  
              </form>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
