<!DOCTYPE html>
<html lang="en">
<script src = "https://d3js.org/d3.v4.min.js"></script>

<body>

<script>
    let tr = "{{ transcripts }}"
    let g = "{{ genome }}"
</script>


<div class="card" >
    <div class="card-body"></div>
    <div id = "svg_genomic_view" align="center">
    </div>
    <button onclick="changeColor();"> PINK (rectangle)</button>
    <button id="zoom_in" onclick="zoom_in();">zoom in</button>    
    <button id="zoom_out" onclick="zoom_out()">zoom out</button>    
    <button id="left" onclick="left();"><<<</button>    
    <button id="right" onclick="right()">>>></button>    
    
    <div class="card" style="margin-left: 5%;margin-right: 5%;margin-top: -340px;">
    <div id = "svg_g" align="center"></div>
    </div>
</div>

<script type="text/javascript" src="static/genomeBact/transcript.js"></script> 

</body>
</html>