{% extends 'genomeBact/base.html' %}

{% block content %}

    <h1>VALIDATOR </h1>
        <li>
            <a href="{% url 'transcript-state'%}">see all transcripts state</a>
        </li>

        <li>
            <a href="{% url 'transcript-validation'%}">transcripts to validate</a>
        </li>

        <li>
            <a href="{% url 'assign-transcript'%}">assigning transcripts</a>
        </li>

        <a href="{% url 'workspace'%}">Go back to my settings.</a>

{% endblock %}